<!DOCTYPE html>
<html lang="en">
<head>
    <%include ../partials/head %>
    <title>Document</title>
</head>
<body>
    <%include ../partials/header %>
    <div>
        <form id="login" action="/event/create" method="post">
            <input type="text" name="eventName" placeholder="" id="eventName" >
            <input type="date" name="dateEnd" placeholder="" id="dateEnd" >
            <input type="text" name="currency" placeholder="" id="currency"  >
            <input type="submit" value="REGISTER">
        </form>
    </div>
</body>
</html>